.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.board {
    display: flex;
    width: 600px;
    height: 600px;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30%;
    background-color: #e5e5e5;
    border: 3px solid #000000;
    color: #14213d;
    font-size: 100px;
  }
  
  .win {
   background-color: #fca311;
  }

  .restart {
    cursor: pointer;
    padding: 0 10px;
    border-radius: 5px;
    background-color: beige;
    color: #588157;
  }

  .restart:hover{
    background-color: #588157;
    color: #14213d;
  }

  .text {
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    color: #006d77;
    
  }